jinja2
influxdb
pyyaml
numpy
scipy
pandas 
matplotlib
scikit-learn
scikit-image
mock
jupyter
xlrd
xlwt
openpyxl
xlutils
lxml
html5lib
tushare
beautifulsoup4
scrapy
selenium
django
mysqlclient
pymongo
flask
requests
jieba
pygal
sender